*.jpg
*.png
*.bin
*.txt
PointPainting/detector/data/*
*.npy
*.pyc
*.pth
*.tckpt
*.pkl
EPNet/kitti/
EPNet/lidar_arbitrary_point_injection/
CLOCs/datasets/
VirConv/build/
VirConv/pcdet/ops/
VirConv/data/
VirConv/tools/PENet/pe.pth.tar
VirConv/pcdet.egg-info
VirConv/tools/results
VirConv/tools/results_camera_acoustic_blur_linear
VirConv/tools/results_camera_emi_truncation
VirConv/tools/results_camera_emi_strip_loss
VirConv/tools/results_camera_laser_hiding
VirConv/tools/results_camera_laser_strip_injection
VirConv/tools/results_camera_projection_creating
VirConv/tools/results_lidar_laser_arbitrary_point_injection
VirConv/tools/results_lidar_laser_background_noise_injection
VirConv/tools/results_lidar_laser_creating_car
VirConv/tools/results_lidar_laser_hiding
VirConv/tools/results_lidar_emi_gaussian_noise
VirConv/output
Results_Viewer/
CLOCs/second/results
EPNet/tools/log/
EPNet/camera_acoustic_blur_linear
EPNet/camera_emi_truncation
EPNet/camera_emi_strip_loss
EPNet/camera_laser_hiding
EPNet/camera_laser_strip_injection
EPNet/camera_projection_creating
EPNet/lidar_laser_arbitrary_point_injection
EPNet/lidar_laser_background_noise_injection
EPNet/lidar_laser_creating_car
EPNet/lidar_laser_hiding
EPNet/lidar_emi_gaussian_noise
PointPainting/detector/output
mmdetection3d/results
